{% extends 'includes/layout.html' %}

{% block body %}
<main class="container">
  
  <div class="bg-light p-5 rounded mt-5">
    <title>Trash Detection API</title>
    <h1 class="mb-5">Trash Detection</h1>
    <form method="POST" enctype="multipart/form-data" action="/ai-prompt" class="mb-5">
      <div class="mb-3">
        <label class="form-label">Upload an image</label>
        <input type="file" class="form-control" name="file">
      </div>
      <button type="submit" class="btn btn-primary">Upload Image</button>
    </form>
    
    <div class="mb-5">
      <h1> AI STUFF </h1>
      <p class="lead">
        Writing some AI
      </p>

      <form class="" action="/ai-prompt" method="post">

        <div class="mb-3">
          <label class="form-label">Subject or Title</label>
          <input type="text" class="form-control" name="aiPrompt" placeholder="Take a picture">
          <div class="form-text">Snap a picture of something.</div>
        </div>

        <button type="submit" class="btn btn-primary">Get Recommendations</button>

      </form>
    </div>

    <div class="p-3 rounded bg-white">
      {% if prompt %}
        <h3 class="text-primary mb-3">{{prompt}}</h3>
      {% endif %}

      {% if openAIAnswer %}
        <p class="lead">{{openAIAnswer}}</p>
      {% endif %}
    </div>

  </div>

</main>
{% endblock %}
