{% extends 'includes/layout.html' %}

{% block body %}
  <main class="container">
    <div class="bg-light p-5 rounded mt-5">
      <h1 class="display-4 mb-4">DIY Project Ideas Generator</h1>
      <p class="lead mb-5">Create new projects by entering the quantity and type of your recyclables.</p>

      <form class="mb-5" action="/text-prompt" method="post">
        <div class="mb-3">
          <label class="form-label">Enter Items</label>
          <input type="text" class="form-control" name="textPrompt" placeholder="e.g. 1 plastic water bottle, 2 glass bottles, 3 toothpicks">
          <small class="form-text text-muted">Please enter the quantity and name of the items you'd like to use.</small>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Get Recommendations</button>
      </form>
    </div>

    <div class="p-3 rounded">
      <div class="row">
        <div class="col-lg-12">
          {% if prompt %}
            <h3 class="text-primary mb-4">{{prompt}}</h3>
            <p class="lead">{{openAIAnswer}}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}
